<div id="navbar">
    <div class="logoIcon">
        <img [routerLink]="['/home']" id="logo" src="https://order.thecoffeehouse.com/_nuxt/img/logo.174bdfd.svg" alt="">
    </div>
    <div class="shipping">
        <div class="card1">
            <img id="icon" src="https://minio.thecoffeehouse.com/images/tch-web-order/Delivery2.png" alt="">
            <div class="card1-text">
                <h1>Giao hàng</h1>
                <p>Tại: Nhập địa chỉ giao hàng</p>
            </div>
        </div>
    </div>
    <div class="list">
        <ul>
            <li>Đặt hàng</li>
            <li>Tin tức</li>
            <li>Cửa hàng</li>
            <li>Khuyến mãi</li>
            <li>Tuyển dụng</li>
        </ul>
    </div>

    <div class="btnGroup">
        <div>
            <img [routerLink]="['/login']" class="login" src="https://order.thecoffeehouse.com/_nuxt/img/Login.70dc3d8.png" alt="">
        </div>
        <div>
            <img [routerLink]="['/cart']" class="cart" src="https://order.thecoffeehouse.com/_nuxt/img/Carticon.373916c.png" alt="">
        </div>
    </div>
    
</div>