<div class="container">
    <div id="card">
        <div id="loginGoogle">
            <h3>Chào mừng đến với</h3>
            <img src="https://order.thecoffeehouse.com/_nuxt/img/logo-black.44900f6.svg" alt="">
            <img style="width: 300px; height: 150px;" src="https://order.thecoffeehouse.com/_nuxt/img/thumbnail-login-pop-up.e10d0dd.png" alt="">
            <div id="loginBtn" (click)="login()"><img src="https://img.freepik.com/free-icon/google_318-278809.jpg" alt="">Login With Google</div>
        </div>
        
    </div>
</div>