<div class="container">
    <div class="parent" >
        <div class="card" *ngFor="let item of itemList$ | async ">
                <img src="{{item.image}}" alt="">
                <div class="info">
                    <div class="name">{{item.name}}Name</div>
                    <div class="btnGroup">
                        <div class="price">{{item.price}}</div>
                        <img class="addCart" src="https://cdn.icon-icons.com/icons2/1244/PNG/512/1492790881-6add_84227.png" alt="">
                    </div>
                </div>
        </div>
    </div>
</div>